<div id="top-container" class="container-fluid">
  <h1 id="main-title" class="text-center">
    Encontre o veículo dos seus sonhos
  </h1>
  <p id="main-subtitle" class="text-center">
    Somos a loja com mais alto padrão em veículos no mercado, direcionadas a
    pessoas exigentes
  </p>
  <form id="search-form" class="form-inline" action="">
    <div class="form-group col-md-10">
      <input
        type="text"
        class="form-control"
        id="car"
        name="car"
        placeholder="Digite o veículo que está buscando"
      />
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary">Procurar</button>
    </div>
  </form>
</div>

<main>
  <div id="shopCars-container" class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="car-list-title">Veja os destaque</h2>
        <ul id="car-list" class="list-group">
          <li class="list-group-item new-car">
            <img src="public/img/car.svg" alt="Car" />
            <div class="car-details">
              <h3>Veículo</h3>
              <div class="car-info-row">
                <p>Marca: <span>Marca</span></p>
                <p>Modelo: <span>Modelo</span></p>
              </div>
              <div class="car-info-row">
                <p>Ano: <span>2023</span></p>
                <p>Cor: <span>Preto</span></p>
              </div>
              <p>Descrição: <span>Descrição do carro</span></p>
              <h3>Valor: <span>R$100000,00</span></h3>
            </div>
            <span class="new-car-label">New</span>
            <a class="btn btn-primary">Apreciar</a>
          </li>
          <li class="list-group-item new-car">
            <img src="public/img/car.svg" alt="Car" />
            <div class="car-details">
              <h3>Veículo</h3>
              <div class="car-info-row">
                <p>Marca: <span>Marca</span></p>
                <p>Modelo: <span>Modelo</span></p>
              </div>
              <div class="car-info-row">
                <p>Ano: <span>2023</span></p>
                <p>Cor: <span>Preto</span></p>
              </div>
              <p>Descrição: <span>Descrição do carro</span></p>
              <h3>Valor: <span>R$100000,00</span></h3>
            </div>
            <span class="new-car-label">New</span>
            <a class="btn btn-primary">Apreciar</a>
          </li>
          <li class="list-group-item">
            <img src="public/img/car.svg" alt="Car" />
            <div class="car-details">
              <h3>Veículo</h3>
              <div class="car-info-row">
                <p>Marca: <span>Marca</span></p>
                <p>Modelo: <span>Modelo</span></p>
              </div>
              <div class="car-info-row">
                <p>Ano: <span>2023</span></p>
                <p>Cor: <span>Preto</span></p>
              </div>
              <p>Descrição: <span>Descrição do carro</span></p>
              <h3>Valor: <span>R$100000,00</span></h3>
            </div>
            <a class="btn btn-primary">Apreciar</a>
          </li>
          <li class="list-group-item">
            <img src="public/img/car.svg" alt="Car" />
            <div class="car-details">
              <h3>Veículo</h3>
              <div class="car-info-row">
                <p>Marca: <span>Marca</span></p>
                <p>Modelo: <span>Modelo</span></p>
              </div>
              <div class="car-info-row">
                <p>Ano: <span>2023</span></p>
                <p>Cor: <span>Preto</span></p>
              </div>
              <p>Descrição: <span>Descrição do carro</span></p>
              <h3>Valor: <span>R$100000,00</span></h3>
            </div>
            <a class="btn btn-primary">Apreciar</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>